{{- if ne .Values.clusterapiVersion "v1alpha3" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "capi-vsphere.crsCCMSecretName" . }}
stringData:
  data: |
    apiVersion: v1
    stringData:
      {{ .Values.vsphere.server }}.username: {{ .Values.cloudConfigSecret.username }}
      {{ .Values.vsphere.server }}.password: {{ .Values.cloudConfigSecret.password }}
    kind: Secret
    metadata:
      name: cloud-provider-vsphere-credentials
      namespace: kube-system
    type: Opaque
type: addons.cluster.x-k8s.io/resource-set
{{- end }}
