---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "capi-vsphere.crsCSIServiceAccountName" . }}
stringData:
  data: |
    apiVersion: v1
    kind: ServiceAccount
    metadata:
      name: {{ include "capi-vsphere.crsCSIServiceAccountName" . }}
type: addons.cluster.x-k8s.io/resource-set
