kamaji:
  enabled: true
  addons:
    addonOne:
      someProperty: yes
  kubelet:
    cgroupfs: systemd
    preferredAddressTypes:
    - InternalIP
    - ExternalIP
    - Hostname
  network:
    serviceType: LoadBalancer
