---
apiVersion: cluster.x-k8s.io/{{ .Values.clusterapiVersion }}
kind: Cluster
metadata:
  labels:
    cluster.x-k8s.io/cluster-name: {{ include "capi-proxmox.name" . }}
{{- with .Values.clusterLabels }}
  {{- toYaml . | nindent 4 -}}
{{- end }}
  name: {{ include "capi-proxmox.name" . }}
spec:
{{- with .Values.clusterNetwork }}
  clusterNetwork:
  {{- toYaml . | nindent 4 }}
{{- end }}
  controlPlaneRef:
    apiVersion: {{ include "capi-proxmox.kubeadmControlPlaneApiVersion" . }}
    kind: {{ include "capi-proxmox.kubeadmControlPlaneKind" . }}
    name: {{ include "capi-proxmox.kubeadmControlPlaneName" . }}
  infrastructureRef:
    apiVersion: infrastructure.cluster.x-k8s.io/{{ .Values.clusterapiVersion }}
    kind: ProxmoxCluster
    name: {{ include "capi-proxmox.name" . }}
