{{- if .Values.kamaji.enabled }}
kind: TenantControlPlane
apiVersion: kamaji.clastix.io/{{ .Values.kamaji.apiVersion }}
metadata:
  name: {{ include "capi-proxmox.name" . }}
  labels:
    kamaji.x-k8s.io/kamaji-name: {{ include "capi-proxmox.name" . | quote }}
    {{- with .Values.kubeadmControlPlane.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  dataStore: {{ required "kamaki.controlPlane.dataStore is required" .Values.kamaji.dataStore | quote }}
  {{- with (get .Values.kamaji "addons" | default dict) }}
  addons:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with (get .Values.kamaji "controlPlane" | default dict) }}
  controlPlane:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with (get .Values.kamaji "kubernetes" | default dict) }}  
  kubernetes:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with (get .Values.kamaji "networkProfile" | default dict) }}  
  networkProfile:
    {{- toYaml . | nindent 4 }}
  {{- end }}
 {{- with (get .Values.kamaji "writePermissions" | default dict) }}  
  writePermissions:
    {{- toYaml . | nindent 4 }}
  {{- end }}  
{{- end }}