{{- $list := .Values.kubeadmConfigTemplates -}}
{{ range $index, $template := $list }}
{{- $object := dict "KubeadmConfigTemplate" $template
          "Index" $index "Context" $ -}}
---
apiVersion: bootstrap.cluster.x-k8s.io/{{ $.Values.clusterapiVersion }}
kind: KubeadmConfigTemplate
metadata:
  name: {{ include "capi-proxmox.kubeadmConfigTemplateName" $object }}
spec:
  template:
    spec:
      {{- with (include "capi-proxmox.kubeadmConfigUsers" $object | fromYaml) }}
        {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- with (
            get (
              fromYaml (include "capi-proxmox.kubeadmConfigTemplate" $object))
              "joinConfiguration" | default list ) }}
      joinConfiguration:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{ end }}
